body {
	padding-top: 50px;
	padding-bottom: 20px;

}

#navbar-collapse li a {
	color: #fff;
}


#navbar-collapse .active a {
	color:#f61;
}
 .my-img-responsive{
 	display: block;
    width: 100%;
    height: auto;
 }


.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-fixed-top, .navbar-fixed-bottom {

	font-weight: bold;
	/*font mau trang*/
	color: #ffffff; 		
	background-color: #1166ff; 
	/*blue*/
}


#nav2 li>a {
	color: black;
}

#nav2 li>a:hover {
	font-weight: bold;
	color: gray;
}
	

