body {
	padding-top: 50px;
	padding-bottom: 20px;

}

.navbar-default .navbar-nav li a {
	color: #fff;
}

.navbar-default .navbar-nav .active a {
	color: #f61;
}

.navbar-default .navbar-,.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-fixed-top {

	font-weight: bold;
	/*font mau trang*/
	color: #ffffff; 		
	background-color: #1166ff; 
	/*blue*/
}


	

